body {
    min-width: 400px;
    max-width: 1000px;
}

h2 {
    margin: 0.5em 0;
}

.headContainer {
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 40px;
}

input {
    width: 75%;
    border: none;
    font-size: 16px;
    padding: 0.75em;
}

#addButton {
    background-color: lightgray;
    width: 20%;
    border: none;
    font-size: 16px;
    padding: 0.75em;
    cursor: pointer;
}

*:focus {
    outline: none;
}

#addButton:hover {
    background-color: darkgray;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    cursor: pointer;
    font-size: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0;
    padding: 0.75em;
}

.deleteButton {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    text-decoration: none;
}

.done {
    text-decoration: line-through;
    background-color: #888888;
    color: white;
}